<div class="mt-3">
    <mat-accordion>  
      <mat-expansion-panel (opened)="panelOpenState1 = true"
                          (closed)="panelOpenState1 = false"
                          expanded="true"
                          *ngFor="let data of ueSummary | keyvalue">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ data.key }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list class="p-2" role="list" *ngFor="let item of data.value | keyvalue">
          <p class="mat-h3 fw-bold">
            {{ item.key }}
          </p>
          <div *ngIf="typeOf(item.value) === 'object'; else noList">
            <p *ngFor="let data of item.value" class="px-2">
              {{ data }}
            </p>
          </div>
          <ng-template #noList>
            <p class="px-2">
              {{ item.value }}
            </p>
          </ng-template>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>