<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Catalina</span>
    <span class="example-spacer"></span>
    <button *ngIf="(afServ.userData | async) === null" mat-button (click)="onGoToLogin()">
      <mat-icon>login</mat-icon>
      Login
    </button>
    <button *ngIf="!((afServ.userData | async) === null)" mat-button (click)="onGoToLogout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
    <button *ngIf="(afServ.userData | async) === null" mat-button (click)="onGoToRegister()">
      <mat-icon>app_registration</mat-icon>
      Register
    </button>
</mat-toolbar>