.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.example-margin {
  margin: 0 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
}